@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Italic-VariableFont_wght.tff") format("truetype");
    font-weight: 900;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* --black: black;
    --white: white;
    --blue: #0E63D8;
    --green: #58CAA2;
    --light-green: #B6C079;
    --light-yellow: #DCDCAD;
    --orange: #CC824B;
    --yellow: #D9D630;
    --light-blue: #7FDDEE;
    --violet: #CB6FC8; */

    --blue: white;
    --green: white;
    --light-green: white;
    --light-yellow: white;
    --orange: white;
    --yellow: white;
    --light-blue: white;
    --violet: white;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;

}

header {
    position: sticky;
    height: 5em;
    display: flex;
        align-items: center;

    justify-content: space-between;
    padding: 0 1rem;
    top: 0;
    background-color: white;
    transition: background-color 0.4 ease-in-out;
}

header.scrolled {
    background-color: black;
    opacity: 0.9;
}
header.scrolled nav a{
    color: white;
}
header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 42px;
   letter-spacing: 5px;
   transition: background-color 0.4 ease-in-out;
}
header.scrolled h1{
    color: white;
}
/* nav ul {
    display: flex;
    height: 5rem;
    align-items: center;
} */

header nav li {
    position: relative;
    padding: 2rem;
    list-style: none;
    display: inline-block;
}

header nav a {
    text-decoration: none;
    color: var(--black);
    transition: color 0.4s ease-in-out;
}
header nav a:hover {
    /* color: var(--white); */
    font-size: 24px;
}
.wrapper {
    margin: 10% 10%;

}
#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.intro h1 {
    letter-spacing: 1px; 
    font-size: 3.5rem;
    font-weight: 750;
}
.intro h3 {
    letter-spacing: 1px;
    opacity: .9;
    font-size: clamp(1rem, 2.5vw ,1.5rem);
}

.intro p {
    opacity: .7;
    font-size: 18px;
}

.intro .auto-input {
    color: orange;
}

.info {
    position: relative;
    max-width: 32%;
    max-height: 15%;
    min-width: 32rem;
    min-height: 15rem;
    background-color: #1E1E1E;
    border-radius: 10px;
    color: white;
    padding: 3rem;
    /* display: flex;
    align-items: center;
    justify-self: left; */
}
.info ol{
    line-height: 2;
    /* letter-spacing: 1px; */
    list-style: none;
    counter-reset: item;
}
.info li {
    display: block;
    font-size: 0.8rem;
}

.info li::before {
    content: counter(item) " ";
    counter-increment: item;
    opacity: .7;
}
.clr-blue {
    color: var(--blue);
}

.clr-light-blue {
    color: var(--light-blue);
}
.clr-green {
    color: var(--green);
}

.clr-light-green {
    color: var(--light-green);
}

.clr-light-yellow {
    color: var(--light-yellow);
}

.clr-yellow {
    color: var(--yellow);
}

.clr-orange {
    color: var(--orange);
}

.clr-violet {
    color: var(--violet);
}

.indent1 {
    text-indent: 2rem;
}

.indent2 {
    text-indent: 4rem;
}

.dl-resume {
    background: none;
    cursor: pointer;
    border: 2px solid black;
    padding: .5rem;
    font-size: 15px;
    border-radius: 5px;
}

.dl-resume:hover {
    color: white;
    background-color: black;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

/* 
@media all and (min-width: 1200px) and (max-width: 1375px) {
.intro h1 {
    font-size: 2.5rem;
}
.intro h3 {
    font-size: 1.5rem;
}
.intro p {
    font-size: 18px;
}
.info {
    max-width: 32%;
    max-height: 15%;
    min-width: 32rem;
    min-height: 15rem;
    padding: 3rem;
}
.info ol{
    line-height: 2;
     letter-spacing: 1px; 
    list-style: none;
    counter-reset: item;
}
.info li {
    display: block;
    font-size: 0.8rem;
}
 }
 
@media all and (min-width: 768px) and (max-width: 1200px) {
    .intro h1 {
        font-size: 2rem;
    }
    .intro h3 {
        font-size: 1rem;
    }
    .intro p {
        font-size: 15px;
    }
    /* #intro {
        flex-direction: column;
    } */
    /* .intro {
        text-align: center;

    } 
    .wrapper {
        margin: 5% 5%;
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
  */