
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black: black;
    --white: white;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

nav {
    position: static;
    height: 10rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid var(--black);
}

nav h1 {
   letter-spacing: 5px;
}
nav ul {
    display: flex;
    height: 5rem;
    align-items: center;
}

nav li {
    padding: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--black);
}
nav a:hover {
    background-color: var(--black);
    color: var(--white);
    font-size: 24px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10rem 10rem;
}

.info h1 {
    letter-spacing: 1px; 
    font-size: 60px;
}
.info h3 {
    letter-spacing: 1px;
    opacity: .9;
}

.info p {
    opacity: .7;
}