@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Italic-VariableFont_wght.tff") format("truetype");
    font-weight: 900;
    font-style: normal;
}
* {

    box-sizing: border-box;
    --black: black;
    --white: #F8F8F8;
    /* --blue: #0E63D8;
    --green: #58CAA2;
    --light-green: #B6C079;
    --light-yellow: #DCDCAD;
    --orange: #CC824B;
    --yellow: #D9D630;
    --light-blue: #7FDDEE;
    --violet: #CB6FC8; */

    --blue: white;
    --green: white;
    --light-green: white;
    --light-yellow: white;
    --orange: white;
    --yellow: white;
    --light-blue: white;
    --violet: white;
}
body, html {
    margin: 0;
    padding: 0;
    font-size: calc(12px + 0.25vw);
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

/* body {
    width: 100vw;
    height: 100vh;
} */


.navbar {
    position: fixed;
    padding: 0 1rem;
    top: 0;
    background-color: white;
    transition: background-color 0.4 ease-in-out;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar.scrolled {
    background-color: black;
    opacity: 0.9;
}
.navbar.scrolled nav a{
    color: white;
}
.navbar h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2.625em;
   letter-spacing: 5px;
   transition: background-color 0.4 ease-in-out;
}
.navbar.scrolled h1{
    color: white;
}

.navbar li {
    position: relative;
    padding: 2em;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--black);
    transition: color 0.4s ease-in-out;
}
.navbar a:hover {
    /* color: var(--white); */
    /* font-size: 24px; */
}
.burgir {
    display: none;
    cursor: pointer;
    position: fixed;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
}


#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12% 10%;
    gap: 1rem;
    /* height: ; */
    /* height: calc(100vh - 80px); */
    /* padding-bottom: 10rem; */
}


.intro h1 {
    letter-spacing: 1px; 
    font-size: 3em;
    font-weight: 900;
    margin:0;
}
.intro h3 {
    letter-spacing: 1px;
    opacity: .9;
    font-size: 1em;
}

.intro p {
    opacity: .7;
    font-size: 18px;
}

.intro .auto-input {
    color: orange;
}

.info {
    /* position: relative; */
     /* width: 32%;
    height: 15%; 
    min-width: 22em;
    min-height: 15em; */
    background-color: #303030;
    border-radius: 10px;
    color: white;
    padding: 30px 35px;
}
.info ol{
    line-height: 2;
    /* letter-spacing: 1px; */
    list-style: none;
    counter-reset: item;
}
.info li {
    display: block;
    font-size: 0.8em;
}

.info li::before {
    content: counter(item) " ";
    counter-increment: item;
    opacity: .7;
}
.scrolldown {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.scrolldown-firstArrow, .scrolldown-secondArrow {
    left:50%;
    transform: translateY(0%) rotate(45deg);
    opacity: 1;
    cursor: pointer;
    position: absolute;
}
.scrolldown-firstArrow {
    width: 2em; height: 2em; 
    background-color: transparent; 
    z-index: 80; 
    border-width: 0 0.25em 0.25em 0; 
    border-style: solid; 
    border-color: orange; 
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;
    bottom: 55px;
}

.scrolldown-secondArrow {
    width: 2em; height: 2em; 
    background-color: transparent; 
    z-index: 80; 
    border-width: 0 0.25em 0.25em 0; 
    border-style: solid; 
    border-color: black; 
    animation: scrolldown 1.2s ease-in-out infinite;
    bottom: 70px;
}

@keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}

.clr-blue {
    color: var(--blue);
}

.clr-light-blue {
    color: var(--light-blue);
}
.clr-green {
    color: var(--green);
}

.clr-light-green {
    color: var(--light-green);
}

.clr-light-yellow {
    color: var(--light-yellow);
}

.clr-yellow {
    color: var(--yellow);
}

.clr-orange {
    color: var(--orange);
}

.clr-violet {
    color: var(--violet);
}

.indent1 {
    text-indent: 2rem;
}

.indent2 {
    text-indent: 4rem;
}

.dl-resume {
    background: none;
    cursor: pointer;
    border: 2px solid black;
    padding: .5rem;
    font-size: 15px;
    border-radius: 5px;
}

.dl-resume:hover {
    color: white;
    background-color: black;
}

#about {
    text-align: center;
    /* align-items: center; */
    /* margin-bottom: 10rem; */
    height : 100vh;
    padding: 12% 10%;

}
#about h1{
    top: 1rem;
}
@media (max-width: 1629px) {
    .intro h1 {
        font-size: 2.5em;
    }
    .info {
        padding: 5px 15px;
    }
}
@media all and (max-width: 868px) {
    .navbar h1 {
        display: none;
    }
    #intro {
        flex-direction: column;
        justify-content: center;
    }
    .intro {
        text-align: center;
        
    }
    .info {
        padding: 0px 15px;
    }
    /* header {
        display: none;
    } */
    .navbar {
        justify-content: flex-end;
    }
    .burgir {
        display: block;
    }

    .burgir.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burgir.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }   
    .burgir.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 25%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }
    .nav-menu li {
        color: black;
        padding: 15px 0;
        margin: 5px 5px;
        background-color: orange;
        z-index: 1000;
        border-radius: 10px;
        width: 10rem;
        
    }
    .nav-menu.active {
        left: 0;
    }
}
/* 
@media all and (min-width: 1200px) and (max-width: 1375px) {
.intro h1 {
    font-size: 2.5rem;
}
.intro h3 {
    font-size: 1.5rem;
}
.intro p {
    font-size: 18px;
}
.info {
    max-width: 32%;
    max-height: 15%;
    min-width: 32rem;
    min-height: 15rem;
    padding: 3rem;
}
.info ol{
    line-height: 2;
     letter-spacing: 1px; 
    list-style: none;
    counter-reset: item;
}
.info li {
    display: block;
    font-size: 0.8rem;
}
 }
 
@media all and (min-width: 768px) and (max-width: 1200px) {
    .intro h1 {
        font-size: 2rem;
    }
    .intro h3 {
        font-size: 1rem;
    }
    .intro p {
        font-size: 15px;
    }
    /* #intro {
        flex-direction: column;
    } */
    /* .intro {
        text-align: center;

    } 
    .wrapper {
        margin: 5% 5%;
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
  */